p {
 background-color: dimGray; 
 margin-top: 80px; 
 margin-left: 30px;
 margin-right: 30px;
 padding: 40px;
 font-size: 43px;
 
 
}

h3 {
 margin: 20px;
 font-size: 40px;
}

h1 {
  margin-top: 30px;
  font-size: 60px;
}

a {
 color: red;
 font-size: 60px;
 font-style: italic;
 font-weight: bold;
}

img {
 margin: 60px;
 height: 60px;
 width: 150px;
}

body {
 background-color: black;
 color: white;
 text-align: center;
 font-family: "Verdana", sans-serif;
}
button {
 margin:5px;
 border-radius: 10px;
 border: none;
 color: white;
 padding: 16px;
 font-size: 24px;
}

#upvote {
 background-color: green;
font-size: 35px;
}

#downvote {
 background-color: red;
font-size: 35px;
}

#votes {
 font-weight: bold;
 font-size: 25px;
}
